* {
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
html {
    margin:0;
}
a{
    text-decoration:none;
}
body {
    margin:0;
    font-family: arial;
    background: #f8f9fb;
}
