$deepblue: #032f3e;
$offwhite: #FEFEFF;
$babyblue: #D6EFFF;
$babypink: #fde4f2;
$yellowmedium: #fdd835;
$yellowdarker: #fbc02d;
$brilliantgreen: #30cb00;
$h2style: linear-gradient(to bottom right, #11998e,#38ef7d);
$h1font: 50px;
$h2font: 40px;
$h3font: 35px;
$iconwidth: 200px;
$myphoto:300px;
$myphotoMobile: 260px;
$pictureSlideshow: 500px;
$spacer:100px;
$sectionWidth: 850px;

@mixin h1style {
    font-size: $h1font;
}
@mixin h2style{
    align-self: center;
    font-size: $h2font;
    font-weight: 800;
    line-height: 1.1;
    font-family: 'Montserrat Black', sans-serif;
}
@mixin h3style {
    font-size: $h3font;
    font-family: 'Montserrat Black', sans-serif;
    font-weight: 800;
    line-height:26px;
    margin:0;
    padding: $spacer 0 70px 0;
}
@mixin projectSection{
    display: block;
    max-width: $sectionWidth;
    margin: auto;
    padding-bottom: $spacer;
    .h3 {
        @include h3style;
    }
}


.banner-lead {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    .banner-image {
        max-width: 90%;
        margin:0 auto;
    }
    .banner-container{
        // background-color: deeppink;
        text-align: left;
        max-width: 90%;
        margin: auto;
        .banner-h1 {
            font-size: 32px;
        }
        .banner-content {
            // background-color:pink;
            color: $offwhite;  
            p {
                display: block;
                font-size: 16px;
                line-height:30px;
            }
        }
    }
}
.banner-second {
    display: flex;
    justify-content: center;
    background-image: $h2style;
    color: black;
    height: 300px;
    .h2 {
        font-size: 32px;
        align-self: center;
        font-weight: 800;
        line-height: 1.1;
        font-family: 'Montserrat Black', sans-serif;
    }
}
footer {
    background-color: $deepblue;
    display: flex;
    justify-content: space-between;
    color: $babypink;
    p{
        margin-left: 20px;
    }
    .up {
        display: block;
        margin-right:20px;
        color: $babypink;
        cursor: pointer;
        &:hover {
            background-color: $babypink;
            color: $deepblue;
        }
    }
}
.nav {
    background: $yellowdarker;
    position:fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 57px;
    z-index: 2;
    ul {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 100%;
        margin:0;
        // background-color: red;
    }
    .li-nav {
        // background-color: pink;
        list-style: none;
        display: inline-block;
        text-align: center;
        padding: 10px;
        &:hover {
            background-color: $yellowmedium;
        }
    }
    .link-nav {
        display: inline-block;
        width: 100%;
        color: $deepblue;
        text-decoration: none;
        &:hover {
            color:$deepblue;
        }
    }
}
.nav-protector {
    display:block;
    width: 100%;
    height: 57px;
}
.section-bg {
    @include projectSection;
}
.section-project:nth-child(even) {
    background-color: #eeeeee;
}
.skills-bar {
    background-color: $yellowdarker;
    display:flex;
    .skills-ul {
        width: 100%;
        margin: 0;
        padding:0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .skills-li {
        display: inline-block;
        padding: 16px;
        background-color: $yellowmedium;
        border-radius: 5px;
        margin:16px;
        box-shadow: 0 10px 6px -6px #777;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
    }
}
.spacer {
    display: block;
    height: $spacer;
}
.wrapper-contacts {
    width: 100%;
    margin: $spacer 0;
    .ul-icon {
        width: 90%;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .li-icon {
        width:$iconwidth;
        margin: 0;
        box-sizing: border-box;
        text-align:center;
        list-style: none;  
    }
    .icon {
        width: 50px;
        border-radius:50%;
    }
    .link-icon {
        display: none;
    }
    
}
//for little tablets banner-picture fix
@media screen and (min-width: 400px) {
    .banner-lead {
        flex-direction: column;
        .banner-image {
            max-width: 345px;
            margin:0 auto;
        }   
    }
}
//for little tablets banner-content and contact-icons fix
@media screen and (min-width: 900px) {
    .banner-lead {
        flex-direction: row;
        justify-content: space-between;
        .banner-image {
            max-width: 345px;
            max-height: 345px;
            margin:0 auto;
            align-self: center;
        } 
        .banner-container{
            text-align: right;
            .banner-h1 {
                font-size: 40px;
            }
            .banner-content {
                margin-right: 50px;
                max-width: 900px;
                p {
                    font-size: 20px;
                    line-height:40px;
                }
            }
        }       
    }
    .wrapper-contacts {
        .ul-icon {
            width: 60%;
            max-width: 850px;
            justify-content: space-between;
        }
        .icon {
            width: 150px;
            padding: 45px;
            border: 2px solid $babypink;
        }
        .link-icon {
            display:inline-block;
            color: $deepblue;
            text-decoration: none;
            &:hover {
                color: complement($deepblue);
            }
        }
        
    }
}
//for tablets slideshow and nav fix
@media screen and (min-width: 700px) {
    .mobilePics {
        display: none;
    } 
    .nav {
        ul {
            width: 400px;
        }
        .li-nav {
            width: 50%;
            display: block;
            padding:16px;
        }
        .link-nav {
            display: block;
            width: 100%;
        }
    }  
}
//big tablets and computer
@media screen and (min-width: 1600px) {

    .banner-lead {
        max-height: 500px;
        flex-direction: row;
        justify-content: space-between;
        .banner-image {
            max-width: 500px;
            max-height: 500px;
            margin:0;
        }
        .banner-container{
            text-align: right;
            .banner-h1 {
                @include h1style;
            }
            .banner-content {
                margin-right: 50px;
                max-width: 900px;
                p {
                    font-size: 22px;
                    line-height:40px;
                }
            }
        }
    }
    .banner-second {
        .h2 {
            @include h2style;
        }
    }
    footer {
        p{
            margin-left: 80px;
        }
        .up {
            margin-right:80px;
        }
    }
    .images-projs-container {
        display: block;
    }
    .section-bg {
        @include projectSection;
    }
    .section-project:nth-child(even) {
        .fakeButton {
            border:2px solid $babyblue;
            background-color: $offwhite;
        }
    }
    .wrapper-contacts {
        .icon {
            width: $iconwidth;
            padding: 70px;
        } 
    }
}