$deepblue: #032f3e;
$offwhite: #FEFEFF;
$babyblue: #D6EFFF;
$babypink: #fde4f2;
$yellowmedium: #fdd835;
$yellowdarker: #fbc02d;
$brilliantgreen: #30cb00;
$h2style: linear-gradient(to bottom right, #11998e,#38ef7d);
$h1font:50px;
$h2font: 40px;
$h3font: 35px;
$iconwidth: 200px;
$myphoto:300px;
$pictureSlideshow: 500px;
$spacer:100px;
$sectionWidth: 950px;

@mixin h1style {
    font-size: $h1font;
}
@mixin h2style{
    align-self: center;
    font-size: $h2font;
    font-weight: 800;
    line-height: 1.1;
    font-family: 'Montserrat Black', sans-serif;
}
@mixin h3style {
    font-size: $h3font;
    font-family: 'Montserrat Black', sans-serif;
    font-weight: 800;
    line-height:26px;
    margin:0;
    padding: $spacer 0 70px 0;
}
@mixin projectSection{
    display: block;
    max-width: $sectionWidth;
    margin: auto;
    padding-bottom: $spacer;
    .h3 {
        @include h3style;
    }
}

.banner-lead {
    width: 100%;
    max-height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    .banner-image {
        max-width: 500px;
        text-align: center;
        margin:0;
    }
    .banner-container{
        // background-color: deeppink;
        text-align: right;
        .banner-h1 {
            @include h1style;
        }
        .banner-content {
            color: white;
            margin-right: 50px;
            max-width: 900px;
            p {
                display: block;
                // color: pink;
                line-height:26px;
            }
        }
    }
}
.banner-second {
    display: flex;
    justify-content: center;
    background-image: $h2style;
    color: black;
    height: 300px;
    .h2 {
        @include h2style;
    }
}
footer {
    background-color: $deepblue;
    display: flex;
    justify-content: space-between;
    color: $babypink;
    p{
        margin-left: 80px;
    }
    .up {
        display: block;
        margin-right:80px;
        color: $babypink;
        &:hover {
            background-color: $babypink;
            color: $deepblue;
        }
    }
}
.nav {
    background: $yellowdarker;
    ul {
        width: 100%;
        margin:0;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .li-nav {
        float: right;
        width: 14%;
        list-style: none;
        display: block;
        // height: 40px;
        text-align: center;
        padding:16px;
        &:hover {
            background-color: $yellowmedium;
        }
    }
    .link-nav {
        display: block;
        width: 100%;
        color: $deepblue;
        text-decoration: none;
        &:hover {
            color:$deepblue;
        }
    }
}
.section-bg {
    @include projectSection;
}
.section-project:nth-child(even) {
    background-color: #eeeeee;
    .fakeButton {
        border:2px solid $babyblue;
    }
}
.skills-bar {
    background-color: $yellowdarker;
    .skills-ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .skills-li {
        display: inline-block;
        padding: 16px;
        background-color: $yellowmedium;
        border-radius: 5px;
        margin:16px;
        box-shadow: 0 10px 6px -6px #777;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
    }
}
.spacer {
    display: block;
    height: $spacer;
}
.wrapper-contacts {
    width: 100%;
    margin: $spacer 0;
    .ul-icon {
        width: 60%;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .li-icon {
        width:200px;
        margin: 0;
        box-sizing: border-box;
        text-align:center;
        list-style: none;  
    }
    .icon {
        width: $iconwidth;
        padding: 70px;
        border: 2px solid $babypink;
        border-radius:50%;
    }
    .link-icon {
        color: $deepblue;
        text-decoration: none;
        &:hover {
            color: complement($deepblue);
        }
    }
    
}
